<div class="container">
	<div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">NASA
                <small>Space, The Final Frontier.</small>
            </h1>
        </div>
    </div>

	<div class="row">
	    <div class="col-md-6">
	        <img class="img-responsive" src="http://static1.squarespace.com/static/56b92c8a7da24f7ebe8a6aac/t/5758c8ccc6fc08a4c16751ed/1465436376831/?format=750w" alt="">
	    </div>
	    <div class="col-md-6">
	        <h3>About Us</h3>
	        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed voluptate nihil eum consectetur similique? Consectetur, quod, incidunt, harum nisi dolores delectus reprehenderit voluptatem perferendis dicta dolorem non blanditiis ex fugiat.</p>
	        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, magni, aperiam vitae illum voluptatum aut sequi impedit non velit ab ea pariatur sint quidem corporis eveniet. Odit, temporibus reprehenderit dolorum!</p>
	        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, consequuntur, modi mollitia corporis ipsa voluptate corrupti eum ratione ex ea praesentium quibusdam? Aut, in eum facere corrupti necessitatibus perspiciatis quis?</p>

	        <ul class="list-unstyled list-inline list-social-icons">
                <li>
                    <a href="https://www.facebook.com/NASA"><i class="fa fa-facebook-square fa-4x"></i></a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/company/nasa"><i class="fa fa-linkedin-square fa-4x"></i></a>
                </li>
                <li>
                    <a href="https://twitter.com/NASA?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class="fa fa-twitter-square fa-4x"></i></a>
                </li>
                <li>
                    <a href="https://plus.google.com/+NASA"><i class="fa fa-google-plus-square fa-4x"></i></a>
                </li>
                <li>
                    <a href="https://news.ycombinator.com/item?id=11981068"><i class="fa fa-y-combinator fa-4x" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="https://www.youtube.com/user/NASAtelevision"><i class="fa fa-youtube-square fa-4x" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="https://github.com/nasa"><i class="fa fa-git-square fa-4x" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="https://www.instagram.com/nasa/?hl=en"><i class="fa fa-instagram fa-4x" aria-hidden="true"></i></a>
                </li>
            </ul>
	    </div>
	</div>
</div>


<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Projects We Cared</h1>
        </div>
    </div>

 	<div class="row">
        <div class="col-md-4 img-portfolio">
            <a href="portfolio-item.html">
                <img class="img-responsive img-hover" src="http://newsworldindia.in/wp-content/uploads/2015/06/ISS.jpg" alt="">
            </a>
            <h3>
                <a href="portfolio-item.html">Project Milky Way</a>
            </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>
        <div class="col-md-4 img-portfolio">
            <a href="portfolio-item.html">
                <img class="img-responsive img-hover" src="http://assets.b9.com.br/wp-content/uploads/2015/12/death-star-black-700x400.jpg" alt="">
            </a>
            <h3>
                <a href="portfolio-item.html">Project Death Star</a>
            </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>
        <div class="col-md-4 img-portfolio">
            <a href="portfolio-item.html">
                <img class="img-responsive img-hover" src="http://ste.india.com/sites/default/files/2016/02/24/463255-nasa-main.jpg" alt="">
            </a>
            <h3>
                <a href="portfolio-item.html">Project Alpha Centauri</a>
            </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 img-portfolio">
            <a href="portfolio-item.html">
                <img class="img-responsive img-hover" src="https://s-media-cache-ak0.pinimg.com/736x/d9/df/2c/d9df2c71e8c03ac2a4d4060ceb360e71.jpg" alt="">
            </a>
            <h3>
                <a href="portfolio-item.html">Project Elysium</a>
            </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>
        <div class="col-md-4 img-portfolio">
            <a href="portfolio-item.html">
                <img class="img-responsive img-hover" src="http://wickedgeeks.com/wp-content/uploads/2014/06/enterprise.jpg" alt="">
            </a>
            <h3>
                <a href="portfolio-item.html">Project Enterprise</a>
            </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>
        <div class="col-md-4 img-portfolio">
            <a href="portfolio-item.html">
                <img class="img-responsive img-hover" src="http://www.pcmag.com/media/images/452855-nasa-dawn-approaching-ceres-credit-nasa.jpg?thumb=y&width=740&height=426" alt="">
            </a>
            <h3>
                <a href="portfolio-item.html">Project Orion</a>
            </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-lg-12">
            <ul class="pagination">
                <li>
                    <a href="#">&laquo;</a>
                </li>
                <li class="active">
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">&raquo;</a>
                </li>
            </ul>
        </div>
    </div>

    <hr>
    
</div>

