<div id="clearance" class="sign-up">
  <h2><%= t(".title") %></h2>
  <h4>As individual</h4>
  <%= render partial: '/users/form'%> 
  <h4>Or company</h4>
  <%= render partial: '/users/company_form' %>
</div>
