<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <title>Shop Homepage - Start Bootstrap Template</title>

    <!-- Custom CSS -->
    <link href="css/shop-homepage.css" rel="stylesheet">

</head>
<body>
    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-md-3">
                <p class="lead">Filter by Category</p>
                <div class="list-group">
                    <a href="#" class="list-group-item">Science</a>
                    <a href="#" class="list-group-item">Social Services</a>
                    <a href="#" class="list-group-item">Business</a>
                    <a href="#" class="list-group-item">Charity</a>
                    <a href="#" class="list-group-item">Sports</a>
                    <a href="#" class="list-group-item">Pets/Animals Welfare</a>
                    <a href="#" class="list-group-item">Community</a>
                </div>
            </div>

            <div class="col-md-9">

                <div class="row">

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="http://www.suchablog.com/wp-content/uploads/2008/04/greenpeace-parodie-le-spot-dove-onslaught-320x150.jpg" alt="">
                            <div class="caption">
                                <h4 class="pull-right">RM113,905</h4><br>
                                <br><p class="pull-right raised">raised</p>
                                <h4><a href="#">Creating a Better Nation</a>
                                </h4>
                                <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                            <div class="ratings">
                                <span class="glyphicon glyphicon-knight"></span> 
                                <p class="pull-right">Endorsed by 2 Companies</p>
																	<br><br>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="http://www.mactoons.com/wp-content/uploads/2013/10/respect-for-life-animal-quote-and-the-picture-of-the-elephants-funny-animal-quotes-about-life-320x150.jpg" alt="">
                            <div class="caption">
                                <h4 class="pull-right">RM11,249</h4><br>
                                <br><p class="pull-right raised">raised</p>
                                <h4><a href="#">Helping African Elephant</a>
                                </h4>
                                <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                            <div class="ratings">
                                <span class="glyphicon glyphicon-knight"></span> 
                                <p class="pull-right">Endorsed by 1 Companies</p>
																	<br><br>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="http://48iee3d13d13g5duyqt39y17.wpengine.netdna-cdn.com/wp-content/uploads/2016/05/gorilla-harambe-1_1464531613309_1366945_ver1.0_640_360-320x150.png" alt="">
                            <div class="caption">
                                <h4 class="pull-right">RM384,000</h4><br>
                                <br><p class="pull-right raised">raised</p>
                                <h4><a href="#">XX the Gorilla</a>
                                </h4>
                                <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                            <div class="ratings">
                                <span class="glyphicon glyphicon-knight"></span> 
                                <p class="pull-right">Endorsed by 3 Companies</p>
																	<br><br>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="http://48iee3d13d13g5duyqt39y17.wpengine.netdna-cdn.com/wp-content/uploads/2016/05/download-25-320x150.png" alt="">
                            <div class="caption">
                                <h4 class="pull-right">RM50</h4><br>
                                <br><p class="pull-right raised">raised</p>
                                <h4><a href="#">Politician X Campaign</a>
                                </h4>
                                <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                            <div class="noratings">
                                <span class="glyphicon glyphicon-knight"></span> 
                                <p class="pull-right"></p>
																	<br><br>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="http://www.aecnwa.com/images/whitedog.jpg?nxg_versionuid=published" alt="">
                            <div class="caption">
                                <h4 class="pull-right">RM2,450</h4><br>
                                <br><p class="pull-right raised">raised</p>
                                <h4><a href="#">Bibi is LOST! Help find her</a>
                                </h4>
                                <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                            <div class="ratings">
                                <span class="glyphicon glyphicon-knight"></span> 
                                <p class="pull-right">Endorsed by 1 Companies</p>
																	<br><br>
                            </div>
                        </div>
                    </div>

										<div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="http://vmbuildingsociety.vmbs.com/image/people.jpg" alt="">
                            <div class="caption">
                                <h4 class="pull-right">RM2,000</h4><br>
                                <br><p class="pull-right raised">raised</p>
                                <h4><a href="#">Improve Education</a>
                                </h4>
                                <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                            <div class="noratings">
                                <span class="glyphicon glyphicon-knight"></span> 
                                <p class="pull-right"></p>
																	<br><br>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="http://ic.pics.livejournal.com/polemically/12410698/17824/17824_320.jpg" alt="">
                            <div class="caption">
                                <h4 class="pull-right">RM214,000</h4><br>
                                <br><p class="pull-right raised">raised</p>
                                <h4><a href="#">Help Lily</a>
                                </h4>
                                <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                            <div class="ratings">
                                <span class="glyphicon glyphicon-knight"></span> 
                                <p class="pull-right">Endorsed by 2 Companies</p>
																	<br><br>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="http://www.mirandacollegeofnursing.com/images/parent1.jpg" alt="">
                            <div class="caption">
                                <h4 class="pull-right">RM11</h4><br>
                                <br><p class="pull-right raised">raised</p>
                                <h4><a href="#">Better Nursing Campaign</a>
                                </h4>
                                <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                            <div class="noratings">
                                <span class="glyphicon glyphicon-knight"></span> 
                                <p class="pull-right"></p>
																	<br><br>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="http://www.surgeonsforlittlelives.org/images/Get-Involved.jpg" alt="">
                            <div class="caption">
                                <h4 class="pull-right">RM0</h4><br>
                                <br><p class="pull-right raised">raised</p>
                                <h4><a href="#">Women Rights Campaign</a>
                                </h4>
                                <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                            <div class="noratings">
                                <span class="glyphicon glyphicon-knight"></span> 
                                <p class="pull-right"></p>
																	<br><br>
                            </div>
                        </div>
                    </div>

                    <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>

                </div>

            </div>

        </div>

    </div>

    <script src="app/assets/javascripts/jquery.js"></script>


</body>

</html>
