
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="keywords" content="">
	
	<meta name="generator" content="Mura CMS 6.2">

	
	<link rel="stylesheet" href="http://driveme.mura.mitrahsoft.com/driveme/css/mura.6.2.min.css">
	
	<link rel="stylesheet" href="http://driveme.mura.mitrahsoft.com/driveme/css/mura.6.2.skin.css">
	
	<!-- FONTS ONLINE -->
	

	<!--MAIN STYLE-->
	<link href="http://driveme.mura.mitrahsoft.com/driveme/includes/themes/driveMe/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="http://driveme.mura.mitrahsoft.com/driveme/includes/themes/driveMe/assets/css/main.css" rel="stylesheet" type="text/css">
	<link href="http://driveme.mura.mitrahsoft.com/driveme/includes/themes/driveMe/assets/css/style.css" rel="stylesheet" type="text/css">
	
	
	<link href="http://driveme.mura.mitrahsoft.com/driveme/includes/themes/driveMe/assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">
      <input type="hidden" id="domainName" name="domainName" value="driveme.mura.mitrahsoft.com">
	<!--======= COLOR STYLE CSS =========-->
      
             
      

	<link rel="stylesheet" id="color" href="http://driveme.mura.mitrahsoft.com/driveme/includes/themes/driveMe/assets/css/color/default.css">
            
	
	<script src="http://driveme.mura.mitrahsoft.com/driveme/jquery/jquery.js"></script>

	
	<link rel="shortcut icon" href="http://driveme.mura.mitrahsoft.com/driveme/images/favicon.ico">
	<style>
		h5{
			color: black;
		}

		hr {
	    background: #6f6f6f;
	    width: 100%;
	    height: 2px;
	    margin: 20px auto;
	    border: none;
		}
		
		.right{
			text-align: right;
		}

		body {
	    background: #FFF;
	    height: 100%;
	    width: 100%;
	    font-weight: normal;
	    margin: 0px;
	    padding: 0px;
	    font-size: 14px;
	  }

	  .billing-tittle {
	    display: inline-block;
	    width: 100%;
	    height: 84px;
	    padding: 20px;
	    padding-top: 20px;
	    background: #f2f5f8;
	    position: relative;
	    margin-bottom: 50px;
	    margin-top: 125px;
		}

	</style>

	
	
	
	

<script type="text/javascript" src="http://driveme.mura.mitrahsoft.com/driveme/js/global.min.js"></script>
<script type="text/javascript">
var mura={
	loginURL:"?display=login",
	siteid:"driveme", 
	siteID:"driveme", 
	context:"", 
	jslib:"jquery",
	assetpath:"/driveme",
	themepath:"/driveme/includes/themes/driveMe",
	htmlEditorType:"",
	rb:"en",
	
	
	dtExample:"10/11/2018",
	dtCh:"/",
	dtFormat:[1,0,2],
	dtLocale:"en-IN"
	
	
}
$.extend(window,mura);

</script>
<link href="http://driveme.mura.mitrahsoft.com/requirements/prettify/themes/tomorrow-night.min.css" type="text/css" rel="stylesheet"><script src="http://driveme.mura.mitrahsoft.com/index.cfm/tasks/widgets/prettify/prettify.min.js"></script><script>!function($){$(function(){window.prettyPrint && prettyPrint()});}(window.jQuery)</script><script type='text/javascript' src='http://driveme.mura.mitrahsoft.com/requirements/cfformprotect/js/cffp.js'></script></head>

	<div class="col-md-3">
		</div>
	<div class="col-md-6">

		<div class="billing-tittle margin-t-20">
			<div class="col-md-8"><h5>Summary: </h5></div>
      <div class="col-md-4"><h5>RM 100</h5></div>
        </div>
            <h5>Choose Your Payment Type</h5>
            <hr>

        <div role="tabpanel">
            <div class="tabpanel">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation">
                        <a aria-controls="credit" data-toggle="tab" href="##credit" role="tab">Credit Card </a>
                    </li>
                    <li role="presentation">
                        <a aria-controls="paypal" data-toggle="tab" href="##paypal" role="tab">Paypal</a>
                    </li>
                </ul>
            </div>


            <div class="tab-content">
            <div class="tab-pane" id="credit" role="tabpanel">
                <div class="intres-lesson"> 

                    <!--======= FORM =========-->

                    <ul class="row">

                        <!--======= INPUT NAME =========-->
                        <li class="col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control" name="Name" placeholder="Credit Card Number">
                                <span class="fa fa-credit-card"></span> 
                            </div>
                        </li>

                        <!--======= INPUT EMAIL =========-->
                        <li class="col-sm-6">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Card Identification Number">
                                <span class="fa fa-credit-card"></span> 
                            </div>
                        </li>

                        <!--======= INPUT PHONE NUMBER =========-->
                        <li class="col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Credit Card Owner Name">
                                <span class="fa fa-credit-card"></span> 
                            </div>
                        </li>

                        <!--======= INPUT PHONE NUMBER =========-->
                        <li class="col-sm-6">
                            <div class="form-group">
                                <label>
                                    <select type="text" class="form-control" placeholder="Credit Card Type">
                                        <option>Visa</option>
                                        <option>Mastercard</option>
                                    </select>
                                </label>
                                <span class="fa fa-credit-card"></span> 
                            </div>
                        </li>

                    <!--======= INPUT PHONE NUMBER =========-->
                    <li class="col-sm-6">
                        <div class="row date-info">
                            <div class="col-xs-4">
                                <p>Expiration Date</p>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <select type="text" class="form-control" placeholder="Credit Card Type">
                                        <option>DD/MM</option>
                                        <option>DD/MM</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <select type="text" class="form-control" placeholder="Credit Card Type">
                                        <option>Year</option>
                                        <option>2015</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </li>

                    <!--======= INPUT PHONE NUMBER =========-->
                    <li class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Billing Zip Code">
                            <span class="fa fa-credit-card"></span>
                        </div>
                    </li>

                    <!--======= NOTE =========-->
                    <li class="col-md-12">
                        <p class="note">NOTE: Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.</p>
                    </li>
                    <li class="col-md-12"> 
                        <!--======= BUTTONS =========-->
                        <button class="btn">PROCEED PAYMENT</button>
                        <button class="btn btn-1">CANCEL</button>
                    </li>
                </ul>

            </div>
        </div>

        <div class="tab-pane" id="paypal" role="tabpanel">
            <div class="intres-lesson">

                <ul class="row"><!--======= NOTE =========-->
                    <li class="col-md-12">
                        <p class="note">NOTE: Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.</p>
                    </li>
                </ul>
                <!--======= BUTTONS =========-->
                <button class="btn" id="paypal_payment">PROCEED PAYMENT</button>
                <button class="btn btn-1">CANCEL</button>
            </div>
        </div>

        
    </div>
<input type="hidden" name="useProtect" value="true" />
<div style="display:none" class="cffm_applied"></div>
	
	<input id="fp2CC0EEDD-CD86-3F88-09B912D069C6411D" type="hidden" name="formfield1234567891" class="cffp_mm" value="" />

	<input id="fp2CC0EEDE-A80D-A24D-40E457EEA510F735" type="hidden" name="formfield1234567892" class="cffp_kp" value="" />

	<input id="fp2CC0EEE0-0854-2954-983FB5EA6ED041CE" type="hidden" name="formfield1234567893" value="39901014,19826012" />



	
	<label style="display:none">Leave this field empty <input id="fp2CC0EEE1-E57B-4E7D-434A71F833B97BA8" type="text" name="formfield1234567894" value="" /></label><input type="hidden" name="siteid" value="driveme"><input type="hidden" name="formid" value="9FD21728-E7BC-D2B7-04E61C07FA0AC5C0"><input type="hidden" name="linkservid" value="9FD21830-A6C1-C90B-C70C3217502324CD"></form>

<script type="text/javascript">
	$(function(){
		frm=$('#frm9FD21728E7BCD2B704E61C07FA0AC5C0');
		frm.attr('action','?nocache=1');
		frm.attr('method','post');

		if(frm.attr('onsubmit') == undefined){
			frm.on('submit',function(){return validateForm(this);})
		}
		
		frm.attr('action',frm.attr('action') + '#frm9FD21728E7BCD2B704E61C07FA0AC5C0');
	});
</script>
</section>
 </div> 
</div>
<div class="col-md-3">
</div>

 <script src="http://driveme.mura.mitrahsoft.com/driveme/includes/themes/driveMe/assets/js/jquery-1.11.0.min.js"></script> 
	<script src="http://driveme.mura.mitrahsoft.com/driveme/includes/themes/driveMe/assets/js/wow.min.js"></script> 
	<script src="http://driveme.mura.mitrahsoft.com/driveme/includes/themes/driveMe/assets/js/bootstrap.min.js"></script> 
	<script src="http://driveme.mura.mitrahsoft.com/driveme/includes/themes/driveMe/assets/js/drive-me-plugin.js"></script> 
	<script src="http://driveme.mura.mitrahsoft.com/driveme/includes/themes/driveMe/assets/js/jquery.isotope.min.js"></script> 
	<script src="http://driveme.mura.mitrahsoft.com/driveme/includes/themes/driveMe/assets/js/jquery.flexslider-min.js"></script> 
	<script src="http://driveme.mura.mitrahsoft.com/driveme/includes/themes/driveMe/assets/js/mapmarker.js"></script>
	<script src="http://driveme.mura.mitrahsoft.com/driveme/includes/themes/driveMe/assets/js/color-switcher.js"></script> 
	<script src="http://driveme.mura.mitrahsoft.com/driveme/includes/themes/driveMe/assets/js/jquery.magnific-popup.min.js"></script> 
	<script src="http://driveme.mura.mitrahsoft.com/driveme/includes/themes/driveMe/assets/js/main.js"></script>
	<script type='text/javascript' src='http://maps.google.com/maps/api/js?sensor=false'></script>