/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.carousel-inner img {
	width: 100%;
	margin: auto;
	min-height:200px;
}

.navbar {
	margin-bottom: 0 !important;
	border-radius: 0 !important;
}


.searchbar {
	display: inline;

.profile_photo img {
	height: 200px;
    width: 50%;
    margin: auto;
}

.img-center {
	margin: 0 auto;
}

.top-buffer { 
	margin-top: 40px;
	display:flex;
	align-items: center; 
}

@media (min-width: 768px) .searchbar {
  width: initial !important;

}

#search-input {
	width: 219px;
}

.navbar-inverse .navbar-nav>li>a {
	padding: 18px;
}

.footer {
	background-color: #ddd;
	color: white;
}

@media (max-width: 992px) {
	.searchbar {
  		width: initial !important;
  		display: none !important;
  	}
}
